<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Admin Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>
    <h2>Admin Main Page</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td >
                    <a class="btn btn-primary" href ="/addClass">Create Class</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/listClass">View All Classes</a>
                </td>
            </tr>
            <tr>
                <td >
                    <a class="btn btn-primary" href ="/addCourse">Create Course</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/listCourse">View All Courses</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/addClassroom">Create Classroom</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/listClassroom">View All Classrooms</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/addDepartment">Create department</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/listDepartment">View All departments</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/addMajor">Create major</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/listMajor">View All Majors</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/addClass">Add class to schedule for current or later semester</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/users">Change a new users type to (student, instructor, advisor or administrator)</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a class="btn btn-primary" href ="/classesInCurrentSemester">View all classes in current semester</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href ="/search">More Search Queries</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>

