<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>
    <h2>Admin Main Page</h2>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <a class="btn btn-primary" th:href =""></a>
                    </td>
                </tr>
                <!--add more rows for each link-->
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>