<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Admin Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>
    <h2>Admin Main Page</h2>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <a class="btn btn-primary" th:href ="/courseform">Create course</a>
                    </td>
                </tr>
                <tr>
                    <td>
                         <a class="btn btn-primary" th:href ="/classroomform">Create classroom</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/departmentform">Create department</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/addMajor">Create major</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/classform">Add class to schedule for current or later semester</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/users">Change a new users type to (student, instructor, advisor or administrator)</a>
                    </td>
                </tr>
                <tr>
                    <td>
                         <a class="btn btn-primary" th:href ="/courses">View all courses</a>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <a class="btn btn-primary" th:href ="/adminsearch">Search Queries</a>
                     </td>
                 </tr>
                        <a class="btn btn-primary" th:href ="/courses">View all courses</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/classesInCurrentSemester">View all classes in current semester</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary" th:href ="/adminsearch">Search Queries</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

     <div th:replace="base :: footer"></div>

 </div>

 </body>
 </html>