<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add or Update Classroom</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form action="#"
          th:action="@{/process}"
          th:object="${classroom}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <!--Sample text input-->
        <div class="form-group">
            <label for="buildingName">Enter Building Name :</label>
            <input class="form-control" type="text" id="buildingName" th:field="*{buildingName}"/>
        </div>

        <div class="form-group">
            <label for="roomNumber">Enter Room Number :</label>
            <input class="form-control" type="text" id="roomNumber" th:field="*{roomNumber}"/>
        </div>

        <div class="form-group">
            <label for="capacity">Enter Capacity :</label>
            <input class="form-control" type="text" id="capacity" th:field="*{capacity}"/>
        </div>

        <!--Sample dropdown input-->
        <!--<div class="form-group">-->
        <!--<label for="category">Category:</label>-->
        <!--<select name="category" id="category" class="custom-select" th:field="*{category}">-->
        <!--<option value="">Select Category</option>-->
        <!--<option th:each="category : ${categories}"-->
        <!--th:value="${category.id}"-->
        <!--th:utext="${category.categoryName}"/>-->

        <div sec:authorize="hasAuthority('Admin')">
            <div class="form-group">
                <label for="enabledInput"><strong>Enabled</strong></label>
                <select class="form-control" id="enabledInput" th:field="*{disabled}">
                    <option value="0">disabled</option>
                    <option value="1">active</option>
                </select>
            </div>
        </div>

        <input class="submit-btn" type="submit" value="Submit"/>
    </form>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>