<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Class</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form action="#"
          th:action="@{/addClass}"
          th:object="${class}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <!--Sample text input-->
        <div class="form-group">
            <label for="crn">Enter CRN Number :</label>
            <input class="form-control" type="text" id="crn" th:field="*{crn}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter Semester Number :</label>
            <input class="form-control" type="text" id="semester" th:field="*{semester}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter Day:</label>
            <input class="form-control" type="text" id="days" th:field="*{days}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter time :</label>
            <input class="form-control" type="text" id="time" th:field="*{time}"/>
        </div>

        <!--Sample dropdown input-->
        <div class="form-group">
            <label for="instInput">Choose your Instructor:</label>
            <select class="form-control" id="instInput" name="instructor">
                <option th:each="instructor : ${instructors}"
                        th:value="${instructor.id}"
                        th:utext="${instructor.user.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="courseInput">Choose A Course:</label>
            <select class="form-control" id="courseInput" name="course">
                <option th:each="course : ${courses}"
                        th:value="${course.id}"
                        th:utext="${course.courseName}"/>
            </select>
        </div>

        <input class="submit-btn" type="submit" value="Submit"/>
    </form>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>