<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Class</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form action="#"
          th:action="@{/addClass}"
          th:object="${class}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <!--Sample text input-->
        <div class="form-group">
            <label for="crn">Enter CRN Number :</label>
            <input class="form-control" type="text" id="crn" th:field="*{crn}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter Semester Number :</label>
            <input class="form-control" type="text" id="semester" th:field="*{semester}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter Day:</label>
            <input class="form-control" type="text" id="days" th:field="*{days}"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="crn">Enter time :</label>
            <input class="form-control" type="text" id="time" th:field="*{time}"/>
        </div>

        <!--Sample dropdown input-->
        <div class="form-group">
            <label for="instInput">Choose your Instructor:</label>
            <select class="form-control" id="instInput" name="class">
                <option th:each="instructor : ${instructors}"
                        th:value="${instructor.id}"
                        th:utext="${instructor.employee_number}"/>
            </select>
        </div>

        <div sec:authorize="hasAuthority('Admin')">
            <div class="form-group">
                <label for="enabledInput"><strong>Enabled</strong></label>
                <select class="form-control" id="enabledInput" th:field="*{enabled}">
                    <option value="0">disabled</option>
                    <option value="1">active</option>
                </select>
            </div>
        </div>


        <input class="submit-btn" type="submit" value="Submit"/>
    </form>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>