<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Classrooms</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <h3 th:text="${title_type}"></h3>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Building Name</th>
                    <th>Room Number</th>
                    <th>Capacity</th>
                    <th>Disabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="classroom : ${classrooms}">
                <td ><span th:text="${classroom.buildingName}"></span></td>
                <td ><span th:text="${classroom.roomNumber}"></span></td>
                <td ><span th:text="${classroom.capacity}"></span></td>
                <td ><span th:text="${classroom.disabled}"></span></td>
                <td >
                    <!--Sample button link-->
                    <!--<a class="btn btn-primary" th:href ="@{/updateCompany/{id}(id=${company.companyid})}">Update</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>