<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add or Update Course</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form action="#"
          th:action="@{/addCourse}"
          th:object="${course}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <!--Sample text input-->
        <div class="form-group">
            <label for="courseNumber">Enter Course Number:</label>
            <input class="form-control" type="text" id="courseNumber" th:field="*{courseNumber}"/>
        </div>

        <div class="form-group">
            <label for="courseName">Enter Course Name:</label>
            <input class="form-control" type="text" id="courseName" th:field="*{courseName}"/>
        </div>

        <div class="form-group">
            <label for="courseDescription">Course Description:</label>
            <input class="form-control" type="text" id="courseDescription" th:field="*{courseDescription}"/>
        </div>

        <div class="form-group">
            <label for="credits">Credits :</label>
            <input class="form-control" type="text" id="credits" th:field="*{credits}"/>
        </div>

        <div class="form-group">
            <label for="majorInput"><strong>Choose A Major</strong></label>
            <select class="form-control" id="majorInput" th:field="*{major}">
                <option th:each="major : ${majors}"
                        th:value="${major.id}"
                        th:utext="${major.majorName}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="subjectInput"><strong>Choose A Subject</strong></label>
            <select class="form-control" id="subjectInput" th:field="*{subject}">
                <option th:each="subject : ${subjects}"
                        th:value="${subject.id}"
                        th:utext="${subject.subjectName}"/>
            </select>
        </div>

        <!--Sample dropdown input-->
        <!--<div class="form-group">-->
            <!--<label for="departmentInput"><strong>Choose A Course</strong></label>-->
            <!--<select class="form-control" id="departmentInput" th:field="*{course}">-->
                <!--<option th:each="course : ${courses}"-->
                        <!--th:value="${course.id}"-->
                        <!--th:utext="${course.course_name}"/>-->
            <!--</select>-->
        <!--</div>-->

        <div sec:authorize="hasAuthority('Admin')">
            <div class="form-group">
                <label for="enabledInput"><strong>Enabled</strong></label>
                <select class="form-control" id="enabledInput" th:field="*{disabled}">
                    <option value="0">disabled</option>
                    <option value="1">active</option>
                </select>
            </div>
        </div>

        <input class="submit-btn" type="submit" value="Submit"/>
    </form>


    <div th:replace="base :: footer"></div>

</div>

</body>
</html>