<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Department</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <div class="row p-5">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <form method="post" action="/addDepartment" th:object="${department}">
                <div class="form-group"><input type="hidden" th:field="*{id}"></div>

                <div class="form-group"><strong>Department name: </strong>
                    <input type="text" placeholder="Enter Department Name" th:field="*{department_name}" class="form-control">
                    <span th:if="${#fields.hasErrors('department_name')}" th:errors="*{department_name}"></span>
                </div>


                <div class="form-group">
                    <label for="majorInput"><strong>Choose A Major</strong></label>
                    <select class="form-control" id="majorInput" th:field="*{major}">
                        <option th:each="major : ${majors}"
                                th:value="${major.id}"
                                th:utext="${major.major_name}"/>
                    </select>
                </div>


                <div class="form-group">
                    <label for="instructorInput"><strong>Choose an Instructor</strong></label>
                    <select class="form-control" id="instructorInput" th:field="*{instructor}">
                        <option th:each="instructor : ${instructors}"
                                th:value="${instructor.id}"
                                th:utext="${instructor.employee_number}"/>
                    </select>
                </div>

                <div sec:authorize="hasAuthority('Admin')">
                    <div class="form-group">
                        <label for="enabledInput"><strong>Enabled</strong></label>
                        <select class="form-control" id="enabledInput" th:field="*{disabled}">
                            <option value="0">disabled</option>
                            <option value="1">active</option>
                        </select>
                    </div>
                </div>

                <input class="submit-btn" type="submit" value="Submit"/>
            </form>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>