<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Department</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form method="post" action="/addDepartment" th:object="${department}">
        <div class="form-group"><input type="hidden" th:field="*{id}"></div>

        <div class="form-group"><strong>Department name: </strong>
            <input type="text" placeholder="Enter Department Name" th:field="*{departmentName}" class="form-control">
            <span th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}"></span>
        </div>


        <div sec:authorize="hasAuthority('Admin')">
            <div class="form-group">
                <label for="enabledInput"><strong>Enabled</strong></label>
                <select class="form-control" id="enabledInput" th:field="*{disabled}">
                    <option value="0">disabled</option>
                    <option value="1">active</option>
                </select>
            </div>
        </div>

        <input class="submit-btn" type="submit" value="Submit"/>
    </form>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>