<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add or Update Major</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <form method="post" action="/addMajor" th:object="${major}">
        <div class="form-group"><input type="hidden" th:field="*{id}"></div>

        <div class="form-group"><strong>Major name: </strong>
            <input type="text" placeholder="Enter Major Name" th:field="*{majorName}" class="form-control">
            <span th:if="${#fields.hasErrors('majorName')}" th:errors="*{majorName}"></span>
        </div>


        <div class="form-group">
            <label for="departmentInput"><strong>Choose A Department</strong></label>
            <select class="form-control" id="departmentInput" th:field="*{department}">
                <option th:each="department : ${departments}"
                        th:value="${department.id}"
                        th:utext="${department.departmentName}"/>
            </select>
        </div>

        <div sec:authorize="hasAuthority('Admin')">
            <div class="form-group">
                <label for="enabledInput"><strong>Enabled</strong></label>
                <select class="form-control" id="enabledInput" th:field="*{disabled}">
                    <option value="0">disabled</option>
                    <option value="1">active</option>
                </select>
            </div>
        </div>

        <input class="submit-btn" type="submit" value="Submit"/>
    </form>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>