<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Current Role</th>
                <th>Update Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">

                <td ><span th:text="${user.username}"></span></td>
                <td ><span th:text="${user.name}"></span></td>
                <td ><span th:text="${user.roles.role}"></span></td>
                <td >
                        <select id="newRole" name="role_type">
                            <option th:if="${user.roles.role!='Admin'}"
                                    value = "1" text="Admin"/>
                            <option th:if="${user.roles.role!='Student'}"
                                    value = "2" text="Admin"/>
                            <option th:if="${user.roles.role!='Instructor'}"
                                    value = "3" text="Admin"/>
                            <option th:if="${user.roles.role!='Adivisor'}"
                                    value = "4" text="Admin"/>
                        </select>
                            <a class="btn btn-primary" th:href ="@{/updateRole/{id}(id=${user.id})}">Change</a>

                <td ><span th:text="${user.id}"></span></td>
                <td ><span th:text="${user.name}"></span></td>
                <td >
                    <span th:if="${user.role != 'Student'}"></span>
                    <a class="btn btn-primary" th:href ="@{/updateToStudent/{id}(id=${user.id})}">Student</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>