body {
    margin: 30px auto 50px auto;
    font-family: Verdana;
    font-size: 8pt;
    width: 85%;
    background-image: url("../img/book.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

div.jumbotron {
    padding-top: 10%;
    opacity:.7;
    color: black;
}


.navbar {
    margin-bottom: 30px;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c8cbcf;
}

form {
    margin: 10px auto;
}

.btn-primary {
    font-size: 8pt;
    font-weight: bold;
}

.hidden_student_id{
    display: none;
}