<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Advisor Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>
    <h2>Advisor Main Page</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td >
                        <a class="btn btn-primary" href ="/viewStudents">View Students</a>
                    </td>
                </tr>
                <tr>
                    <td >
                        <a class="btn btn-primary" href ="/listClass">View All Classes</a>
                    </td>
                </tr>
                <tr>
                    <td >
                        <a class="btn btn-primary" href ="/search">More Search Queries</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>