<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="nav">

    <!--<nav class="navbar navbar-expand-sm bg-light fixed-top">-->

    <nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="main-navbar" >
            <!-- Navbar content -->

        <!-- Links -->
        <ul class="navbar-nav">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <strong>
                    <a href="#">Welcome <span th:text="${#authentication.name}"></span>!</a>
                </strong>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="hasAuthority('Admin')" class="nav-item">
                <a class="nav-link" href="/adminmain">Admin Main</a>
            </li>
            <li sec:authorize="hasAuthority('Student')" class="nav-item">
                <a class="nav-link" href="/studentmain">Student Main</a>
            </li>
            <li sec:authorize="hasAuthority('Instructor')" class="nav-item">
                <a class="nav-link" href="/instructormain">Instructor Main</a>
            </li>
            <li sec:authorize="hasAuthority('Advisor')" class="nav-item">
                <a class="nav-link" href="/advisormain">Advisor Main</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>

    </nav>

    <div class="jumbotron text-center">
        <h1>Harrison College</h1>
    </div>

</div><!--end div fragment nav-->

<div th:fragment="footer">
    <div class="footer">&#169; 2018 Harrison College</div>
</div>

</body>
</html>