<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Classes</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <div th:text="${classes_title}"></div>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Subject</th>
                    <th>Course</th>
                    <th>Class CRN</th>
                    <th>Instructor</th>
                    <th>Class Days</th>
                    <th>Class Time</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aClass : ${classes}">
                    <td><span th:text="${aClass.course.major.department.departmentName}"></span></td>
                    <td><span th:text="${aClass.course.subject.subjectName}"></span></td>
                    <td><span th:text="${aClass.course.courseName}"></span></td>
                    <td><span th:text="${aClass.crn}"></span></td>
                    <td><span th:text="${aClass.instructor.user.name}"></span></td>
                    <td><span th:text="${aClass.days}"></span></td>
                    <td><span th:text="${aClass.time}"></span></td>
                    <td><span th:text="${aClass.course.credits}"></span></td>
                    <td><span th:text="${aClass.semester}"></span></td>
                    <td>
                        <a class="btn btn-primary" th:href ="@{/updateClass/{id}(id=${aClass.id})}">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>