<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Majors</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>Department Name</th>
                <th>Major Name</th>
                <th sec:authorize="hasAuthority('Admin')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="major : ${majors}">
                <td><span th:text="${major.department.departmentName}"></span></td>
                <td><span th:text="${major.majorName}"></span></td>
                <td sec:authorize="hasAuthority('Admin')">
                    <a class="btn btn-primary" th:href ="@{/updateMajor/{id}(id=${major.id})}">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>