<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Search Queries</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <!--View all classes by an instructor-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View all classes by an instructor</strong>
    <form action="#"
          th:action="@{/classesByInstructor}"
          method="post">
        <div class="form-group">
            <label for="instructorname1">Instructor Name</label>
            <input type="text" id="instructorname1" name="instructorname1"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all classes by a student-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View all classes by a student</strong>
    <form action="#"
          th:action="@{/classesByStudent}"
          method="post">
        <div class="form-group">
            <label for="studentname1">Student Name</label>
            <input type="text" id="studentname1" name="studentname1"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all classes that an instructor has taught-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all classes that an instructor has taught in the past semester</strong>
    <form action="#"
          th:action="@{/classesTaughtByInstructor}"
          method="post">
        <div class="form-group">
            <label for="instructorname2">Instructor Name</label>
            <input type="text" id="instructorname2" name="instructorname2"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all classes of a course-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all classes of a course</strong>
    <form action="#"
          th:action="@{/classesByCourse}"
          method="post">
        <div class="form-group">
            <label for="course1">Course Name</label>
            <input type="text" id="course1" name="course1"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all classes in a subject in current semester-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all classes in a subject in current semester</strong>
    <form action="#"
          th:action="@{/classesBySubjectInCurrentSemester}"
          method="post">
        <div class="form-group">
            <label for="subject">Subject Name</label>
            <input type="text" id="subject" name="subject"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all classes by an instructor in a current semester-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all classes by an instructor in a current semester</strong>
    <form action="#"
          th:action="@{/classesByInstructorInCurrentSemester}"
          method="post">
        <div class="form-group">
            <label for="instructorname3">Instructor Name</label>
            <input type="text" id="instructorname3" name="instructorname3"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all classes at a certain time in the current semester-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all classes at a certain time in the current semester</strong>
    <form action="#"
          th:action="@{/classesByTimeInCurrentSemester}"
          method="post">
        <div class="form-group">
            <label for="class_time">Class Time</label>
            <input type="text" id="class_time" name="class_time"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all current classes in a department-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all current classes in a department</strong>
    <form action="#"
          th:action="@{/classesByDepartment}"
          method="post">
        <div class="form-group">
            <label for="department1">Department Name</label>
            <input type="text" id="department1" name="department1"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all classrooms used by a course-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all classrooms used by a course</strong>
    <form action="#"
          th:action="@{/classroomsByCourse}"
          method="post">
        <div class="form-group">
            <label for="course">Course Name</label>
            <input type="text" id="course" name="course"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all classrooms used by an instructor-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all classrooms used by an instructor</strong>
    <form action="#"
          th:action="@{/classroomsByInstructor}"
          method="post">
        <div class="form-group">
            <label for="instructorname4">Instructor Name</label>
            <input type="text" id="instructorname4" name="instructorname4"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all classrooms used by a student-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all classrooms used by a student</strong>
    <form action="#"
          th:action="@{/classroomsByStudent}"
          method="post">
        <div class="form-group">
            <label for="studentname">Student Name</label>
            <input type="text" id="studentname" name="studentname"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all students taught by an instructor-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all students taught by an instructor</strong>
    <form action="#"
          th:action="@{/studentsByInstructor}"
          method="post">
        <div class="form-group">
            <label for="instructorname">Instructor Name</label>
            <input type="text" id="instructorname" name="instructorname"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View a list of all instructors that have taught a class-->
    <div sec:authorize="hasAuthority('Admin')">
    <strong>View a list of all instructors that have taught a class</strong>
    <form action="#"
          th:action="@{/instructorsByClass}"
          method="post">
        <div class="form-group">
            <label for="crn">Class CRN</label>
            <input type="text" id="crn" name="crn"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all courses in a department-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all courses in a department</strong>
    <form action="#"
          th:action="@{/coursesByDepartment}"
          method="post">
        <div class="form-group">
            <label for="department2">Department Name</label>
            <input type="text" id="department2" name="department2"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <!--View all majors in a department-->
    <div sec:authorize="isAuthenticated()">
    <strong>View all majors in a department</strong>
    <form action="#"
          th:action="@{/majorsByDepartment}"
          method="post">
        <div class="form-group">
            <label for="department">Department Name</label>
            <input type="text" id="department" name="department"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>