<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Students</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div class="container">

    <div th:replace="base :: nav"></div>

    <h3>[[${page_title}]]</h3>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th sec:authorize="hasAuthority('Instructor')">Grade</th>
                    <th sec:authorize="hasAuthority('Advisor')"></th>
                    <th sec:authorize="hasAuthority('Instructor')"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td ><span th:text="${student.studentNumber}"></span></td>
                    <td ><span th:text="${student.user.name}"></span></td>
                    <td sec:authorize="hasAuthority('Instructor')">
                        <!--<div th:each="${grade : student.grades}">-->

                        <!--</div>-->
                    </td>
                    <td sec:authorize="hasAuthority('Advisor')">
                        <a class="btn btn-primary" th:href ="@{/viewTranscript/{id}(id=${student.id})}">View Transcript</a>
                    </td>
                    <td sec:authorize="hasAuthority('Instructor')">
                        <input type="text" name="grade"/>
                        <a class="btn btn-primary" th:href ="@{/assignGrade/{id}(id=${student.id})}">Assign Grade</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</div>

</body>
</html>